@model kainatkhaliq.Models.Student

@{
    ViewData["Title"] = "Details";
}

<style>
    .details-title {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: turquoise;
    }

    .details {
        margin-top: 20px;
    }

    .col-sm-2 {
        font-weight: bold;
    }

    .edit-link {
        margin-top: 20px;
    }

        .edit-link a {
            text-decoration: none;
            color: white;
            margin-right: 10px;
            padding: 8px 16px;
            background-color: turquoise;
            border: 1px solid #007bff;
            border-radius: 4px;
            font-weight: bold;
        }

            .edit-link a:hover {
                text-decoration: underline;
                background-color: mediumturquoise;
                border-color: mediumturquoise;
            }

    .back-to-list {
        color: white; /* Apply white color */
    }
</style>

<h1 class="details-title">Details</h1>

<div class="details">
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
    </dl>
</div>

<div class="edit-link">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="back-to-list">Back to List</a>
</div>